*{
    padding:0px;
    margin:0px;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;  /* 灰色背景 */
}

.mainCont_blog{
    /* display: flex;
    flex-direction: row; */
    width: 100%;
    height: 100%;
    /* position: fixed; */
    background-color: #f1f1f1;
}

.cont1_blog {
    /* background-color: aqua; */
    /* float: left;
    width: 30%;
    height: 100%;
    position: fixed;
    z-index: 999; */
    /* flex: 1; */
    position: fixed;
    top: 0;
    left: 0;
    width: 400px;
    height: 100%;
    background-color: #f1f1f1;
    padding: 20px;
}

.cont2_blog {
    
    /* background-color: #f1f1f1;
    left: 50%;
    height: 100%; 
    position: fixed; */

    
    background-color: #f1f1f1;
    /* box-sizing: border-box; */
    margin-left: 440px;
    padding-left: 20px;
    padding-right:20px;
    padding-bottom: 20px;
    padding-top: 190px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    
}

.content_blog_container {
    font-family: adobe-garamond-pro, serif;
    font-weight: 600;
    font-style: normal;
    /* padding-top: 190px; */
    line-height: 30px; 

}

.blog-header {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 3rem;
    color: #333;
    border-bottom: 2px solid #e0e0e0;
    padding-bottom: 1rem;
}

.blog-entries {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.blog-entry {
    padding: 0;
    border-bottom: 1px solid #f0f0f0;
    padding-bottom: 2rem;
}

.blog-entry:last-child {
    border-bottom: none;
}

.blog-meta {
    margin-bottom: 0.5rem;
}

.blog-date {
    font-size: 0.9rem;
    color: #888;
    font-weight: 400;
    font-style: normal;
}

.blog-title {
    margin: 0.2rem 0 1rem 0;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.3;
}

.blog-title a {
    color: #333;
    text-decoration: none;
    transition: color 0.2s ease;
}

.blog-title a:hover {
    color: #666;
}

.blog-summary {
    font-size: 0.95rem;
    line-height: 1.5;
    color: #666;
    font-weight: 400;
    margin: 0;
    max-width: 600px;
    font-style: normal;
}

.bloglist {
    list-style: none;
    margin: 0;
    padding: 0;
}

.bloglist li{
    margin-bottom: 10px;
}



.bloglist p{
    color: rgb(180, 180, 180);
    font-weight: 100;
    font-size: smaller;
}


#fixed-image {
    position: fixed; /* 将图片固定在页面上 */
    top: 0; /* 距离页面顶部的距离为0 */
    right: 0; /* 距离页面右侧的距离为0 */
    height: 100%; /* 图片的高度为整个网页的高度 */
    width: auto; /* 图片的宽度自适应 */

  }

#contact-image {
    padding-top: 60px;
    height: 50px;
    width: 220px;
}


.contact_img {
    height: 100%;
    right:0;
}






.degree {
    font-family: italic;
    /* font-style: normal; */
}





a.underline {
    text-decoration: underline;
  }




.logo {
    height: 70px;
    width: 80%;
    padding-top: 100px;
    padding-left: 100px;
    
    font-family: adobe-garamond-pro, serif;
    font-weight: 600;
    font-style: normal;
    
}

.nevigation {
     
    /* position: relative;  */
      
  
    width: 80%;
    height: 100%;
    line-height: 30px; 
    font-size: 20px; 

    padding-left: 100px;

    
    font-family: adobe-garamond-pro, serif;
    font-weight: 600;
    font-style: normal;
    
    
}

.navlist {
    list-style: none;
    
}



/* ------------------------------------------------------------------------------------------------------------------------------------------------------- */






a {
    text-decoration: none;
    color: black;
    /* cursor:pointer */
} 

a:hover {
    color: rgb(180, 180, 180);
    text-decoration: none;
}

html,body {
    margin: 0;
    height: 100%;
    width: 100%;
}



.exhibitions {
    list-style: none; /* 移除列表前的符号 */
    padding-left: 0; /* 移除列表默认的内边距 */
}

.exhibitions .year {
    display: inline-block; /* 使年份和展览信息在同一行显示 */
    width: 50px; /* 为年份设置宽度 */
    margin-right: 10px; /* 在年份和展览信息之间添加空间 */
    font-weight: bold; /* 粗体显示年份 */
}

.exhibitions .exhibition-info {
    display: inline; /* 保证展览信息在年份后面显示 */
    text-indent: 0; /* 移除文本缩进 */
}






